.eventListWrapper {
	display: inline-block;
	margin: 0px 30px;
}

.eventList {
	color: black !important;
}

.eventList > li {
	display: block;
	line-height: normal;
	text-align: center;
	padding: 10px
}

.eventList > li:first-of-type {
	font-weight: bold;
}

.eventList > li:nth-child(even) {
	background-color: pink;
}

.placeholder {
	font-size: 20pt;
	font-weight: bold;
}