/** {
  box-sizing: border-box;
}
*/
html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  height: 100%;
}

.content {
  padding: 10px 24px;
  background-color: #f1f1f1;
  flex-grow: 1;
}