.nav {
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #000;
}

.sub_menu {
    display: flex;
    flex-direction: column;
}

.sub_menu_top {
    margin-top: 55px;
    height: inherit;
}

.sub_menu_bottom {
    position: absolute;
    bottom: 0;
}

.sub_menu > a {
    margin-left: 20px;
    display: block;
    margin-bottom: 36px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.sub_menu a:link, .sub_menu a:visited{
    text-decoration: none;
    color: #fff;
}

.sub_menu a:hover {
    text-decoration: none;
    /*border-bottom: 5px solid #F64747;*/
    color: #F64747;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.circle {
    left:50px;
    top:20px;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: white;
}

.circle:hover{
    /*background: #d6d6d6;*/
    border-bottom: 10px solid #F64747;
    color: #F64747;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.circle p{
    text-align: center;
    vertical-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}