.nav {
    font-family: 'Lato', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #000;
}

.sub_menu {
    color: #fff;
    margin-top: 50px;
    height: inherit;
}

.sub_menu_bottom {
    position: absolute;
    bottom: 0;
}

.nav_sub {
    color: #fff;
    list-style: none;
    display: inline-block;
    /*height: inherit;*/
    line-height: 55px;
}

:global(.nav_link) {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    height: 55px;
}

.nav_link:link, nav .nav_link:visited{
    text-decoration: none;
    color: #fff;

}

.nav_link:hover {
    text-decoration: none;
    border-bottom: 5px solid #F64747;
    color: #F64747;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.circle {
    left:50px;
    top:20px;
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: white;
}

.circle:hover{
    /*background: #d6d6d6;*/
    border-bottom: 10px solid #F64747;
    color: #F64747;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.circle p{
    text-align: center;
    vertical-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}